<p id="notice"><%= notice %></p>


<% @posts.each do |post| %>
    <h1><%= link_to post.title, post %></h1>
    <p align="right">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
    <hr>
    <!--td><%= post.body %></td>
    <%= link_to 'Show', post %>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td!-->
<% end %>

<br>